# # Домен приложения (для CORS)
# VITE_DOMAIN=localhost

# # Yandex OAuth Client ID
# VITE_CLIENT_ID=your_yandex_client_id_here


VITE_CLIENT_ID='2b49daafa95d4eb59a19e51e68e85653'
VITE_DOMAIN='localhost:8000'